<div class="m-login j-loginform f-pr">
    <div class="itm itm1" style='z-index:100;'>
        <div class="u-txt f-pr" id="j-useremail_box">
            <input class="txt fLogin_username_input" type="text" name="username" tabindex="1" title="请输入帐号" autocomplete="off" />
            <label id="fLogin_username" for="username" class="placeholder fLogin_username">常用邮箱 / 网易邮箱</label>
        </div>
    </div>
    <div class="itm f-pr itm2" style='z-index:0;'>
        <div class="u-txt f-pr">
            <input class="txt fLogin_password_input" type="password" name="password" tabindex="2" title="请输入密码" autocomplete="off"/>
            <label id="fLogin_password" for="password" class="placeholder fLogin_password">密码</label>
        </div>
    </div>
    <b class="b-15"></b>
        <span class="itm itm-1 f-vama">
            <label class="lb">
                <input name="autologin" type="checkbox" class="f-check autologin j-autologin" tabindex="3">
                <span class="atlg">自动登录</span>
            </label>
            <a href="http://reg.163.com/getpasswd/RetakePassword.jsp" target="_blank" class="u-forget f-fr s-fc5"  tabindex="4">忘记密码？</a>
            <div id="fLogin_autologin" class="u-info fLogin_autologin" style="display:none;">
                <p>为了你的帐号安全，请不要在网吧或公用电脑上使用此功能！</p>
                <span class="arr"></span>
            </div>
        </span>
    <b class="b-15"></b>
    <input name="loginbtn" type="submit" style='z-index:0;' class="u-submit j-submit" tabindex="5" value="登 录" />
    <b class="b-15"></b>
    <div class="reg"><a class="j-regUrl"  tabindex="6" target="_blank">没有帐号？<em>立即注册>></em></a></div>
    <div class="u-info loginTip f-pa j-loginTip" style="display:none"></div>
</div>

