<div class="m-login j-loginform f-pr">
    <div class="itm itm1" style='z-index:100;'>
        <div class="u-txt f-pr" id="j-useremail_box">
            <input class="txt fLogin_username_input" type="text" name="username" tabindex="1" title="请输入帐号" autocomplete="off" />
            <label id="fLogin_username" for="username" class="placeholder fLogin_username">常用邮箱 / 网易邮箱</label>
        </div>
    </div>
    <div class="itm f-pr itm2" style='z-index:0;'>
        <div class="u-txt f-pr">
            <input class="txt fLogin_password_input" type="password" name="password" tabindex="2" title="请输入密码" autocomplete="off"/>
            <label id="fLogin_password" for="password" class="placeholder fLogin_password">密码</label>
        </div>
    </div>
    <input name="loginbtn" type="submit" class="u-submit j-submit" tabindex="5" value="登 录" />

</div>

