.socialBox{
      padding: 0 15px;
      a{
        display:block;
        margin-top:10px;
        width:90px;
        height:25px;
        background: url(/res/images/sns/snsSprite.png) no-repeat 4449px 4449px;
      }
      .itm0{
        background: url("http://nos.netease.com/test-edu-image/17AFF62D66F1779376D75F7E4F225EC3.png") no-repeat;
        &:hover{
          background: url("http://nos.netease.com/test-edu-image/856ACB7ED2A43FF569364630548B4053.png") no-repeat;
        }
      }
      .itm1{
        background-position:-10px -13px;
        &:hover{
          background-position:-10px -53px;
        }
      }
      .itm2{
        background-position:-112px -13px;
        &:hover{
          background-position:-112px -53px;
        }
      }
      .itm3{
        background-position:-215px -13px;
        &:hover{
          background-position:-215px -53px;
        }
      }
      .itm4{
        background-position:-11px -277px;
        &:hover{
          background-position:-116px -277px;
        }
      }
      .itm5{
        background-position: -10px -316px;
        &:hover { background-position:- 115px -316px; };
      }
    }

