<div class="m-loginbox f-cb">
    <img class="login-img" id="login-img" src="/res/images/loginGif/beforelogin.gif">
    <div class="wrap f-fl" id="j-form">
    </div>
    <div class="bd f-fl f-pr">
        <div class="f-pa bdtxt">或</div>
    </div>
    <div class="side f-fl">
        <div class="socialBox j-social-box">
            <a class="j-slink itm0 f-hide" data-var-name="WECHAT"  target="_self">微信</a>
            <a class="j-slink itm1 f-hide" data-var-name="WEIBO" target="_self">新浪微博</a>
            <a class="j-slink itm2 f-hide" data-var-name="QQ" target="_self">腾讯QQ</a>
            <a class="j-slink itm3 f-hide" data-var-name="RENREN" target="_self">人人网</a>
            <a class="j-slink itm4 f-hide" data-var-name="ICOURSE" target="_self">爱课程网</a>
            <a class="j-slink itm5 f-hide" data-var-name="QIYE163" target="_self">网易企业邮</a>
        </div>
    </div>
</div>
